import java.io.*;
import java.util.ArrayList;

public class LexerTester {

    public static void main(String... args) throws Exception {
        Lexer l;
        if(args[0].equals("-file")){
            l = new Lexer(new File(args[1]));
        }else{
            l = new Lexer(new StringReader(args[0]));
        }

        while (true) {
            Token t = l.next();
            System.out.println(t);
            if (t.type == 0) {
                break;
            }
        }
    }

    public static ArrayList<String> tokens(String data) throws Exception{
        ArrayList<String> list = new ArrayList<>();
        Lexer l = new Lexer(new StringReader(data));
        while (true) {
            Token t = l.next();
            if (t.type == 0) {
                break;
            }
            list.add(t.formatValue());
        }
        return list;
    }

}